<div class="ui grid">
  <div class="row">
    <div class="column">
      <h1 class="ui header blue">{{title}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="4 wide column">
      <i class="tag icon"></i>
      <a class="ui label">Lorem</a>
      <a class="ui label">Ipsum</a>
      <a class="ui label">Iplor</a>
      <i class="time icon"></i>
      <span class="date">{{post_create_date}}</span>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <p>
        {{format-markdown body}}
      </p>
    </div>
  </div>
</div>
