<div class="ui grid">
  <div class="row">
    <div class="column">

      {{#link-to 'blog' post.id}}
        <h1 class="ui header blue">{{post.title}}</h1>
      {{/link-to}}

    </div>
  </div>
  <div class="row">
    <div class="4 wide column">
      <i class="tag icon"></i>
      <a class="ui label">Lorem</a>
      <a class="ui label">Ipsum</a>
      <a class="ui label">Iplor</a>
      <i class="time icon"></i>
      <span class="date">{{post.post_create_date}}</span>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <p>
        {{format-markdown post.body}}
      </p>
    </div>
  </div>
</div>
