<div id = "page-footer" class="ui black inverted footer segment">
  <div class="ui center aligned container">
    <div class ="ui stackable inverted three column grid">
      <div class="column">
        <h4 class="ui inverted header"><i class="github icon"></i> Github</h4>
        <div class ="ui inverted link list">
          <a class="item">Git</a>
          <a class="item">Git</a>
          <a class="item">Git</a>
        </div>
      </div>
      <div class="column">
        <h4 class="ui inverted header"><i class="google icon"></i> Google Plus</h4>
        <div class ="ui inverted link list">
          <a class="item">G+</a>
          <a class="item">G+</a>
          <a class="item">G+</a>
        </div>
      </div>
      <div class="column">
        <h4 class="ui inverted header"><i class="heart icon"></i> Other Projects</h4>
        <div class ="ui inverted link list">
          <a class="item">Other</a>
          <a class="item">Other</a>
          <a class="item">Other</a>
        </div>
      </div>
    </div>
  </div>
</div>
