<i class="close icon"></i>
<div class="header">
  Demo Modal
</div>
<div class="content">
  Stuff
</div>
<div class="actions">
  <div class="ui cancel black button">
    Cancel
  </div>
  <div class="ui positive right labeled icon button">
    Ok
    <i class="checkmark icon"></i>
  </div>
</div>
