<div class="ui left vertical inverted sidebar menu">
  <div class="header item">Awesome New Blog</div>
  {{#link-to 'blogs' class="item"}}
    <i class="browser icon"></i>
    Blogs
  {{/link-to}}
  {{#link-to 'about' class="item"}}
    <i class="info icon"></i>
    About Us
  {{/link-to}}
</div>

<div class="ui fixed sticky right attached button black launch" id="menu-button">
  <i class="content icon"></i><span class="text">Menu</span>
</div>
